<<<<<<< HEAD
* {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
=======
* {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
>>>>>>> 1cda5223dea3e932aff09061b9e7b8c8b1cda55f
